<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 ml-auto">Logged in as <%= current_user.first_name + " "+ current_user.last_name %><br>
    <%= link_to "Log Out", logout_path, :class => "btn ml-2 btn-outline-danger btn-sm"  %></span>
</nav>