
<div class="jumbotron input-box bg-color">
  <h1 class="display-4">Welcome To The BlogApp</h1>
  <p class="lead">Showcase your knowledge through your <strong>Blog</strong></p>
  <hr class="my-4">
  <%= link_to 'My Blog', controller: "articles" %>
</div>
