
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body{
	background: #e1ccec;
}

h1, h2, h3, h4{
	color: #0f4c75;
}

.input-box{
	margin: 7% 18%;
	padding: 3% 6%;
}

.bg-color{
	background: #f0e3ff;
}

.btn-mg{
	margin-left: 5%;
}

.para-font{
	font-size: 1.5rem;
}

.gap{
	margin: 2% auto;
	padding: 5% auto;
}

.log-out-btn{
	margin-left: 90%;
}
.center-align{
	text-align: center;
}